@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
}
.main-layout {
  margin-left: 200px;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.action-menu  {
  visibility: hidden;
}
.action-menu span {
  cursor: pointer;
}
.action-menu svg {
    font-size: 1.1rem;
}
.ant-table-cell-row-hover .action-menu  {
  visibility: visible;
}
.logo {
  margin-top: 20px;
  padding: 12px 12px 27px;
  /* border-bottom: 2px solid #f5f5f5; */
}



