@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  ::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(237, 237, 237);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 8px #e7e7e7;
    z-index: 5;
}
.main-layout {
  margin-left: 200px;
  min-height: 100vh;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.action-menu  {
  visibility: hidden;
}
.action-menu span {
  cursor: pointer;
}
.action-menu svg {
    font-size: 1.1rem;
}
.ant-table-cell-row-hover .action-menu  {
  visibility: visible;
}
.logo {
  margin-top: 20px;
  padding: 12px 12px 27px;
  /* border-bottom: 2px solid #f5f5f5; */
}
.logoImage img {
    max-width: 100%;
}
.invoice_title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}
.invoice p > span {
    margin-left: 6px;
}
.btn-success {
  background-color: rgb(94, 162, 25);
  color: rgb(241, 241, 241);
  border: none;
}
.btn-success:hover {
  background-color: rgb(83, 157, 9);
  color: rgb(241, 241, 241) !important;
}
.scroll-table .ant-table-header {
  position: sticky;
  top: 0;
}
.scroll-table .ant-table{
  min-height: 320px;
  height: 420px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    // width: 5px;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(247, 247, 247);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}
.fixed-to-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem !important;
    background: transparent !important;
    margin: auto;
}

.user-icon {
    border: 2px solid #878787;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 29px;
    margin-right: 4px;
}

.footer-icon {
    text-align: center;
}

.footer-icon a {
    margin: 0 5px;
    font-size: 1.3rem;
    color: #727272;
}

.footer-icon a:hover {
    color: #333;
}